$pf: "Segoe UI", Calibri, "Myriad Pro", Myriad, "Trebuchet MS", Helvetica, Arial, sans-serif;
$font: (
	primary: (
		"family": $pf,
		"size": 13px,
		"color": #1e1e1e,
		"weight": 400
	)
);
$xsc: 98%;
$smc: 98%;
$mdc: 95%;
$lgc: 95%;
$xlc: 93%;